<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Card Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/cardProfile.css">
</head>

<body>
<div class="container">
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <div class="card">
        <p>Name: <span th:text="${card.name}"></span></p>
        <p>Description: <span th:text="${card.description}"></span></p>
        <p>Tags:
            <span th:each="tag : ${card.tags}">
                <span th:text="${tag}"></span>
            </span>
        </p>
        <p>Link: <a th:href="${card.link}" th:text="${card.link}"></a></p>
        <p>Author: <span th:text="${card.authorName}"></span></p>
        <p>Category: <span th:text="${card.category}"></span></p>
        <p>Price: <span th:text="${card.price}"></span></p>
        <p>Platform: <span th:text="${card.platform}"></span></p>
        <p>Recommendations: <span th:text="${card.recommendations}"></span></p>
        <p>Instructions: <span th:text="${card.instructions}"></span></p>

        <form action="/cards/like-card" method="get" style="display: inline;">
            <input type="hidden" name="cardId" th:value="${card.id}">
            <button type="submit" class="button-like">Like</button>
        </form>
        <form style="display: inline;">
            <input type="hidden">
            <button type="submit" class="button-dislike">Dislike</button>
        </form>
    </div>
</div>
</body>
</html>
