<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Card</title>
    <link rel="stylesheet" type="text/css" href="/css/createCard.css">
</head>
<body>
<div class="container">
    <h1>Create a New Card</h1>
    <form method="post" th:action="@{/cards/create}" class="card-form">
        <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" class="input-field">
        </div>

        <div class="form-group">
            <label for="preview">Preview:</label><br>
            <input type="text" id="preview" name="preview" class="input-field">
        </div>

        <div class="form-group">
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" class="input-field">
        </div>

        <div class="form-group">
            <label for="tags">Tags (comma-separated):</label><br>
            <input type="text" id="tags" name="tags" class="input-field">
        </div>

        <div class="form-group">
            <label for="link">Link:</label><br>
            <input type="text" id="link" name="link" class="input-field">
        </div>

        <!-- New fields -->
        <div class="form-group">
            <label for="category">Category:</label><br>
            <input type="text" id="category" name="category" class="input-field">
        </div>

        <div class="form-group">
            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price" class="input-field">
        </div>

        <div class="form-group">
            <label for="platform">Platform:</label><br>
            <input type="text" id="platform" name="platform" class="input-field">
        </div>

        <div class="form-group">
            <label for="recommendations">Recommendations:</label><br>
            <textarea id="recommendations" name="recommendations" class="input-field"></textarea>
        </div>

        <div class="form-group">
            <label for="instructions">Instructions:</label><br>
            <textarea id="instructions" name="instructions" class="input-field"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Create Card" class="submit-btn">
        </div>
    </form>
</div>
</body>
</html>
