<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div th:if="${message}" class="success-message" th:text="${message}"></div>
<div>
    <h1>Register or <a th:href="@{/login}">login</a>.</h1>
    <form th:action="@{/register}" method="post">
        <label>Username: <input type="text" name="username" required/></label>
        <label>Password: <input type="password" name="password" required/></label>
        <label>Firstname: <input type="firstname" name="firstname" required/></label>
        <label>Lastname: <input type="lastname" name="lastname" required/></label>
        <label>Status: <input type="status" name="status"/></label>
        <input type="submit" value="Sign up"/>
    </form>
</div>
</body>
</html>